* {
    margin: 0px;
    padding: 0px;
}

body,
html {
    width: 100%;
    height: 100%;
}

// 第一栏
#top {
    width: 100%;
    background-color: blue;
    .top_img1 {
        img {
            width: 50px;
            height: 48px;
            // display: block;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .top_one {
        width: 1200px;
        height: 48px;
        margin: 0 auto;
        position: relative;
        background-color: orange;
    }
    // 导航
    .top_ul {
        width: 824px;
        height: 48px;
        .topul_li {
            height: 48px;
            margin-right: 22px;
            font-size: 15px;
            float: left;
            list-style: none;
            line-height: 48px;
        }
    }
    .top_zd {
        width: 110px;
        // float: right;
        position: absolute;
        top: 0;
        right: 0;
        .topzd_ul {
            width: 60px;
            float: left;
            background-color: saddlebrown;
        }
        .topzd_ul_li {
            width: 30px;
            height: 48px;
            // text-align: center;
            float: left;
            font-size: 12px;
            list-style: none;
            // margin: 0 3px;
            // text-align: center;
            color: orchid;
            line-height: 48px;
        }
        img {
            width: 23px;
            height: 23px;
            text-align: center;
            margin-top: 8px;
            margin-right: 8px;
            // position: absolute;
            // top: 8px;
            // right: 8px;
        }
    }
}

// 第二栏
#top_secendlie {
    width: 100%;
    height: 72px;
    background-color: #cccccc;
    // position: relative;
    .top_lie {
        width: 1200px;
        margin: 0 auto;
        position: relative;
        // position: sticky;
        // top: 0;
        background-color: saddlebrown;
        .top_lie_ul {
            width: 824px;
            height: 48px;
            // float: left;
            // float: left;
            background-color: salmon;
            .toplie_ul_li {
                height: 72px;
                float: left;
                font-size: 17px;
                list-style: none;
                margin-right: 45px;
                line-height: 72px;
            }
        }
    }
    // 搜索框
    .top_sousuo {
        margin-top: 20px;
        float: right;
        position: absolute;
        top: 0;
        right: 0;
        form {
            outline: none;
        }
        input {
            width: 240px;
            height: 30px;
            background-color: antiquewhite;
            border-radius: 15px;
            border: 1px solid black;
            outline: none;
        }
    }
}

// 轮播图
#lunlie {
    width: 100%;
    // height: 470px;
    position: relative;
    .lunbo {
        width: 100%;
        height: 470px;
        position: relative;
        background-color: brown;
        overflow: hidden;
        .luntu {
            width: 100%;
            .luntu_li {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                img {
                    width: 100%;
                    height: 470px;
                }
            }
        }
        // 小圆圈
        .lunquan {
            width: 100%;
            height: 15px;
            background-color: aqua;
            position: absolute;
            left: 0;
            bottom: 20px;
        }
        .lunquanol {
            width: 300px;
            height: 15px;
            margin: 0 auto;
            background-color: chartreuse;
        }
    }
    .lun_olli {
        width: 12px;
        height: 12px;
        float: left;
        margin: 0 auto;
        border-radius: 50%;
        margin-right: 35px;
        background: #cccccc;
        list-style: none;
        // text-indent: -99999;
    }
    .active {
        background: blue;
        ;
    } // 左右箭头
    #left,
    #right {
        position: absolute;
        top: 50%;
        margin-top: -60px;
        font-size: 100px;
        text-decoration: none;
        color: #ffffff;
    }
    #left {
        left: 10px;
    }
    #right {
        right: 10px;
    }
    // 三级法魔阵
    .sanlie {
        width: 1200px;
        height: 480px;
        position: absolute;
        top: 0;
        left: 160px;
        // margin: 0 auto;
        // background-color: chartreuse;
        z-index: 1;
        overflow: hidden;
        // 一级魔法
        .yiji {
            width: 280px;
            height: 400px;
            list-style: none;
            background: rgba(255, 255, 255, 0.8);
            margin-top: 40px;
            .yifa {
                width: 214px;
                height: 55px;
                padding: 0 32px;
                color: #4b4b4b;
                cursor: pointer;
                border: 1px solid #e6e6e6;
                line-height: 55px;
                font-weight: bold;
            }
        }
        span {
            float: right;
        }
        .yifa:hover {
            background-color: seashell;
        }
        .yifa:hover .erji {
            display: block;
        }
        // 二级魔法
        .erji {
            width: 960px;
            height: 378px;
            position: absolute;
            top: 40px;
            left: 280px;
            padding: 15px;
            font-size: 12px;
            color: block;
            background: white;
            display: none;
        }
        .erji>ul {
            width: 600px;
            height: 20px;
            line-height: 20px;
            margin: 20px 0;
            list-style: none;
            >li {
                padding: 0 10px;
                cursor: pointer;
                float: left;
                border-right: 1px solid #dddddd;
                >span {
                    font-size: 14px;
                }
            }
            >li:hover {
                color: red;
            }
            >li:last-of-type {
                border-right: 0px;
            }
        }
        .erji>div {
            width: 240px;
            height: 130px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .erji .yizhang {
            position: absolute;
            top: 20px;
            right: 86px;
        }
        .erji .erzhang {
            position: absolute;
            top: 160px;
            right: 86px;
        }
    }
}

// 会员福利
#vip {
    width: 100%;
    height: 95px;
    .vip-v {
        width: 1200px;
        height: 95px;
        margin: 0 auto;
        background-color: wheat;
    }
    ul {
        width: 1200px;
        height: 95px;
        list-style: none;
        >li {
            width: 100px;
            height: 95px;
            float: left;
            display: table-cell;
            // 图片居中
            text-align: center;
            vertical-align: middle;
            // border-right: 1px solid royalblue;
            >img {
                width: 30px;
                height: 30px;
                line-height: 95px;
                margin: 0 auto;
                margin-top: 24px;
                // display: inline-block;
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // margin-top: 15px;
                // margin-left: 15px;
                >span {
                    display: inline-block;
                    text-align: center;
                    margin-top: 15px;
                }
            }
        }
        li:hover {
            color: red;
            transition: 0.3;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        }
    }
}

// ThinkPad 电脑
#tp {
    width: 100%;
    // background-color: blue;
    .tp-hu {
        width: 1200px;
        height: 35px;
        margin: 0 auto;
        margin-bottom: 16px;
        .tp-h {
            width: 180px;
            height: 35px;
            float: left;
        }
        .tp-u {
            width: 340px;
            height: 35px;
            float: right;
            background: brown;
            position: relative;
            >ul {
                width: 290px;
                height: 15px;
                // float: left;
                list-style: none;
                background: blue;
                position: absolute;
                bottom: 0;
                >li {
                    float: left;
                    font-size: 12px;
                    line-height: 15px;
                    margin-right: 16px;
                }
            }
        }
        .jt {
            width: 50px;
            height: 18px;
            float: right;
            >span {
                width: 28px;
                height: 20px;
            }
            >img {
                width: 18px;
                height: 18px;
            }
        }
    }
    .tu {
        width: 1200px;
        margin: 0 auto;
        position: relative;
        .tu-l {
            width: 230px;
            height: 254px;
        }
        .bx {
            width: 960px;
            height: 254px;
            >ul {
                width: 960px;
                list-style: none;
                // float: right;
                position: absolute;
                position: absolute;
                right: 0;
                top: 0;
                >li {
                    width: 230px;
                    height: 265px;
                    float: left;
                    margin-right: 10px;
                    margin-bottom: 12px;
                }
                .tupian {
                    width: 230px;
                    height: 170px;
                    >img {
                        width: 230px;
                        height: 170px;
                    }
                }
                .zi {
                    width: 230px;
                    height: 68px;
                    >h4 {
                        width: 230px;
                        height: 19px;
                        text-align: center;
                        font-size: 15px;
                        margin-top: 5px;
                    }
                    >span {
                        width: 230px;
                        height: 14px;
                        font-size: 12px;
                        display: inline-block;
                        text-align: center;
                    }
                    >em {
                        width: 230px;
                        height: 21px;
                        display: block;
                        text-align: center;
                        font-size: 20px;
                    }
                }
                >li:hover {
                    transition: 0.3s;
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}

// 渲染
// .list {
//     width: 1200px;
//     margin: 0 auto;
//     font-size: 14px;
//     ul {
//         width: 1200px;
//         margin: 0 auto;
//         list-style: none;
//         li {
//             width: 200px;
//             height: 310px;
//             padding: 10px;
//             margin: 0 20px 20px 0;
//             position: relative;
//             float: left;
//         }
//         p {
//             width: 200px;
//             height: 48px;
//             line-height: 24px;
//             overflow: hidden;
//         }
//         img {
//             width: 200px;
//             height: 200px;
//             display: block;
//         }
//         span {
//             display: block
//         }
//         li:hover {
//             color: red;
//             transition: 0.3;
//             box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
//         }
//     }
// }
#right {
    width: 50px;
    height: 46 0px;
    position: fixed;
    background: white;
    right: 16px;
    top: 150px;
    padding: 10px 0;
    border-radius: 2px;
    ul {
        width: 100%;
        height: 100%;
        list-style: none;
        text-align: center;
        padding-right: 5px;
        li {
            cursor: pointer;
            border-bottom: 1px solid #efe;
            img {
                width: 50px;
                height: 60px;
                margin-top: 15px;
                font-size: 24px;
                color: #bbb;
            }
        }
    }
    li:hover {
        color: #e2231a;
    }
}