* {
    margin: 0px;
    padding: 0px;
}


/* http://10.31.161.37/lenovo/php/detail.php */

#top {
    width: 100%;
    background-color: blue;
}

#top .top_img1 img {
    width: 50px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
}

#top .top_one {
    width: 1200px;
    height: 48px;
    margin: 0 auto;
    position: relative;
    background-color: orange;
}

#top .top_ul {
    width: 824px;
    height: 48px;
}

#top .top_ul .topul_li {
    height: 48px;
    margin-right: 22px;
    font-size: 15px;
    float: left;
    list-style: none;
    line-height: 48px;
}

#top .top_zd {
    width: 110px;
    position: absolute;
    top: 0;
    right: 0;
}

#top .top_zd .topzd_ul {
    width: 60px;
    float: left;
    background-color: saddlebrown;
}

#top .top_zd .topzd_ul_li {
    width: 30px;
    height: 48px;
    float: left;
    font-size: 12px;
    list-style: none;
    color: orchid;
    line-height: 48px;
}

#top .top_zd img {
    width: 23px;
    height: 23px;
    text-align: center;
    margin-top: 8px;
    margin-right: 8px;
}


/* 第二栏 */

#top_secendlie {
    width: 100%;
    height: 72px;
    background-color: #cccccc;
}

#top_secendlie .top_lie {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    background-color: saddlebrown;
}

#top_secendlie .top_lie .top_lie_ul {
    width: 824px;
    height: 48px;
    background-color: salmon;
}

#top_secendlie .top_lie .top_lie_ul .toplie_ul_li {
    height: 72px;
    float: left;
    font-size: 17px;
    list-style: none;
    margin-right: 45px;
    line-height: 72px;
}

#top_secendlie .top_sousuo {
    margin-top: 20px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

#top_secendlie .top_sousuo form {
    outline: none;
}

#top_secendlie .top_sousuo input {
    width: 240px;
    height: 30px;
    background-color: antiquewhite;
    border-radius: 15px;
    border: 1px solid black;
    outline: none;
}


/* 小列表 */

#xl {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid papayawhip;
}

#dsl .dsll {
    width: 1200px;
    height: 35px;
    margin: 0 auto;
}

#dsl .dsll p {
    font-size: 12px;
    line-height: 35px;
    color: papayawhip;
    float: left;
}

#dsl .dsll div {
    float: right;
}

#dsl .dsll div img {
    width: 99px;
    height: 24px;
    margin-top: 5px;
}


/* 大图小图 */

#main {
    width: 100%;
    background: white;
}

#main #mainn {
    width: 1200px;
    height: 665px;
    margin: 0 auto;
}

.wrap {
    float: left;
    position: relative;
}

#spic {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    float: left;
    position: relative;
}

#spic img {
    width: 400px;
    height: 400px;
}

#sf {
    width: 50px;
    height: 50px;
    background: orange;
    opacity: 0.3;
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
}

#bf {
    width: 400px;
    height: 500px;
    border: 1px solid #000;
    overflow: hidden;
    position: absolute;
    left: 410px;
    visibility: hidden;
    z-index: 100;
}

#bf img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 800px;
    height: 800px;
}

#ulist {
    position: absolute;
    left: 0px;
    top: 430px;
    width: 402px;
    height: 56px;
    overflow: hidden;
}

#ulist a {
    float: left;
    width: 10px;
    height: 54px;
    border: 1px solid #ccc;
    text-decoration: none;
    line-height: 56px;
    text-align: center;
    background: #fff;
}


/* 五张小图 */

#list {
    float: left;
    margin-left: 18px;
    width: 372px;
    position: relative;
}

#list li {
    float: left;
    width: 56px;
    height: 56px;
    padding-right: 6px;
    list-style: none;
}

#list li img {
    width: 52px;
    height: 52px;
    border: 1px solid #ccc;
}

.wrap ul {
    list-style: none;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
}

.wrap ul li {
    float: left;
    width: 56px;
    height: 56px;
    padding-right: 6px;
}

.wrap ul li img {
    width: 52px;
    height: 52px;
    border: 1px solid #ccc;
}

#gt {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #333;
}

#left {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    color: black;
}

#mainn article {
    width: 520px;
    height: 30px;
    margin-top: 5px;
}

#main #mainn article p {
    font-size: 13px;
    line-height: 30px;
}

#main #mainn article p:first-child {
    float: left;
    color: #B9A5A5;
}

#main #mainn article p:nth-child(2) {
    float: right;
    cursor: pointer;
}

#main #mainn article p:nth-child(2):hover {
    color: red;
}

#main #mainn article p:nth-child(2) span {
    font-size: 12px;
    color: red;
    margin-left: 3px;
}

#main #mainn article p:last-child {
    float: right;
    width: 70px;
    height: 30px;
    cursor: pointer;
    padding-left: 8px;
}

#main #mainn article p:last-child:hover {
    color: red;
}

#main #mainn article p:last-child span {
    font-size: 12px;
    color: red;
    margin-left: 3px;
}


/* 添加购物车 */

#main .main-r {
    width: 650px;
    height: 665px;
    float: right;
}

#main .main-r h1 {
    margin-top: 34px;
    font-size: 22px;
    font-weight: normal;
}

#main .main-r .p1 {
    font-size: 14px;
    color: #A2A2A2;
    margin-top: 8px;
    margin-bottom: 20px;
    line-height: 22px;
}

#main .main-r .div1 {
    background: #F9F9F9;
}

#main .main-r .div1 .jiage {
    width: 100%;
    height: 38px;
    margin: 9px 0;
}

#main .main-r .div1 .jiage>p:first-child {
    font-size: 12px;
    color: #434242;
    line-height: 38px;
    float: left;
    margin-left: 10px;
}

#main .main-r .div1 .jiage>p:nth-child(2) {
    font-size: 20px;
    color: red;
    float: left;
    line-height: 38px;
    font-weight: 600;
    margin-left: 30px;
}

#main .main-r .div1 .jiage>p:nth-child(2) span {
    font-size: 12px;
}

#main .main-r .div1 .jiage>p:last-child {
    float: right;
    border-right: 1px solid #E0E0E0;
}

#main .main-r .div1 .jiage>p:last-child span {
    font-size: 12px;
    padding: 0 10px;
}

#main .main-r .div1 .jiage>p:last-child span:first-child {
    color: #A5A5A5;
}

#main .main-r .div1 .jiage>p:last-child span:last-child {
    color: #4A4A4A;
}


/* 分期 */

#main .main-r .fenqi {
    font-size: 13px;
    width: 622px;
    height: 30px;
    margin: 15px 0 0 20px;
    position: relative;
}

#main .main-r .fenqi>p {
    float: left;
    line-height: 30px;
}

#main .main-r .fenqi>div {
    float: left;
    width: 224px;
    height: 25px;
    border: 1px solid #aaa;
    padding: 2px;
    cursor: pointer;
}


/* 花呗 */

#main .main-r .fenqi .huabei {
    position: absolute;
    left: 54px;
    margin-left: 30px;
    background-size: 100%;
    overflow: hidden;
    z-index: 1;
}

#main .main-r .fenqi .huabei:hover {
    background-color: white;
    background-size: 100%;
    height: 215px;
}

#main .main-r .fenqi .huabei .radio {
    margin-top: 30px;
    width: 50px;
    float: left;
}

#main .main-r .fenqi .huabei .radio input {
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}

#main .main-r .fenqi .huabei .radio input:nth-child(2) {
    margin-top: 50px;
}

#main .main-r .fenqi .huabei .radio input:last-child {
    margin-top: 50px;
}

#main .main-r .fenqi .huabei ul {
    float: left;
    margin-top: 30px;
    list-style: none;
    font-size: 13px;
    color: #aaa;
}

#main .main-r .fenqi .huabei ul li {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#main .main-r .fenqi .huabei ul li:hover {
    color: red;
}


/* 白条 */

#main .main-r .fenqi .baitiao {
    position: absolute;
    left: 315px;
    background: white;
    margin-left: 10px;
    background-size: 100%;
    overflow: hidden;
}

#main .main-r .fenqi .baitiao:hover {
    background-color: white;
    background-size: 100%;
    height: 215px;
}

#main .main-r .fenqi .baitiao .radio {
    margin-top: 30px;
    width: 50px;
    float: left;
}

#main .main-r .fenqi .baitiao .radio input {
    display: block;
    margin-left: 20px;
    margin-top: 20px;
}

#main .main-r .fenqi .baitiao .radio input:nth-child(2) {
    margin-top: 50px;
}

#main .main-r .fenqi .baitiao .radio input:last-child {
    margin-top: 50px;
}

#main .main-r .fenqi .baitiao ul {
    float: left;
    margin-top: 30px;
    list-style: none;
    font-size: 13px;
    color: #aaa;
}

#main .main-r .fenqi .baitiao ul li {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#main .main-r .fenqi .baitiao ul li:hover {
    color: red;
}


/* 购买 */

#main .main-r .goumai {
    width: 622px;
    height: 26px;
    margin: 15px 0 0px 20px;
    font-size: 13px;
}

#main .main-r .goumai>p {
    float: left;
}

#main .main-r .goumai>div {
    float: left;
    color: #aaa;
    margin-left: 30px;
}

#main .main-r .goumai>div input {
    width: 50px;
    text-align: center;
    user-select: none;
}

#main .main-r .goumai>div span {
    line-height: 26px;
    color: black;
    user-select: none;
}

#main .main-r .gouwuche {
    width: 622px;
    height: 64px;
    margin: 15px 0 0px 20px;
}

#main .main-r .gouwuche div {
    cursor: pointer;
    user-select: none;
    float: left;
}

#main .main-r .gouwuche .liji {
    width: 132px;
    height: 38px;
    background: red;
    color: white;
    float: left;
    margin-left: 80px;
    text-align: center;
    line-height: 38px;
}

#main .main-r .gouwuche .box {
    background: #FFEDED;
    color: red;
    float: left;
    margin-left: 15px;
    width: 132px;
    height: 38px;
    text-align: center;
    line-height: 38px;
}

#main .main-r .gouwuche .box a {
    color: red;
    text-decoration: none;
}

#main .main-r .p {
    width: 622px;
    height: 30px;
    margin: 15px 0 0px 20px;
    position: relative;
}

#main .main-r .p p {
    margin-left: 80px;
    font-size: 13px;
    line-height: 30px;
}

#main .main-r .p p span {
    color: #3E8DE4;
    text-decoration: underline;
    cursor: pointer;
}

#main .main-r .p p span img {
    width: 124px;
    height: 130px;
    position: absolute;
    left: 100px;
    top: 23px;
    display: none;
    z-index: 1;
}


/* 右边盒子 */

#right {
    width: 50px;
    height: 46 0px;
    position: fixed;
    background: white;
    right: 16px;
    top: 150px;
    padding: 10px 0;
    border-radius: 2px;
}

#right ul {
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: center;
    padding-right: 5px;
}

#right ul li {
    cursor: pointer;
    border-bottom: 1px solid #efe;
}

#right>ul>li>img {
    width: 50px;
    height: 60px;
    margin-top: 15px;
    font-size: 24px;
    color: #bbb;
}


/* ? */


/* #right>ul>li img:last-child {
    width: 50px;
    height: 24px;
} */


/* #right ul li p {
    margin: 8px 0;
} */

#right ul li:hover {
    color: #e2231a;
}