* {
    margin: 0px;
    padding: 0px;
}


/* 头部 */

#top {
    width: 100%;
    background-color: blue;
}

#top .top_img1 img {
    width: 50px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
}

#top .top_one {
    width: 1200px;
    height: 48px;
    margin: 0 auto;
    position: relative;
    background-color: orange;
}

#top .top_ul {
    width: 824px;
    height: 48px;
}

#top .top_ul .topul_li {
    height: 48px;
    margin-right: 22px;
    font-size: 15px;
    float: left;
    list-style: none;
    line-height: 48px;
}

#top .top_zd {
    width: 110px;
    position: absolute;
    top: 0;
    right: 0;
}

#top .top_zd img {
    width: 23px;
    height: 23px;
    text-align: center;
    margin-top: 8px;
    margin-right: 8px;
}


/* #largin {
    width: 100%;
}

.main {
    height: 590px;
    background-size: cover;
} */


/* 首部 */

#log {
    width: 1200px;
    height: 590px;
    margin: 0 auto;
    background: brown;
}


/* 内部 */

.huiyuan {
    width: 410px;
    height: 525px;
    margin-top: 32px;
    margin-right: 21px;
    float: right;
    background-color: #fff;
    position: relative;
}

.huiyuan h1 {
    margin-top: 30px;
    font-weight: normal;
    text-align: center;
}


/* 手机号码 */

form .haoma,
form .password {
    width: 348px;
    height: 50px;
    color: #8c8c8c;
    margin-left: 20px;
}

.haoma {
    margin-top: 15px;
}

.password {
    margin-top: 20px;
}

.mima {
    width: 12px;
    height: 12px;
    margin-top: 8px;
    margin-left: 20px;
    float: left;
}

.huiyuan form .jz {
    width: 50px;
    height: 12px;
    font-size: 12px;
    margin-top: 8px;
    margin-left: 40px;
    float: left;
    display: block;
}

#login {
    width: 348px;
    height: 50px;
    font-size: 16px;
    background: red;
    color: white;
    border: 0px;
    margin-left: 20px;
}


/* 提示 */

.ti {
    width: 348px;
    height: 30px;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 20px;
}

.ti p {
    float: left;
    color: red;
    cursor: pointer;
}

.ti ul {
    float: right;
    list-style: none;
}

.ti ul li {
    float: left;
    padding: 0 5px;
    cursor: pointer;
}

.ti ul li:first-child {
    border-right: 1px solid #ccc;
}

.ti ul li:hover {
    color: red;
}

.qi {
    width: 310px;
    height: 20px;
    margin-top: 10px;
    padding: 0 15px;
    text-align: center;
}

.qi span {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

.qi span:first-child {
    width: 90px;
    height: 1px;
    background: black;
}

.qi span:last-child {
    width: 90px;
    height: 1px;
    background: black;
}